.bk{
    height: 490px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
      
}
.container
{ 
   margin: auto;
   width: 40%;
   border:3px rgb(39, 36, 35);
   padding: 10px;   
}
.headline
{
    color: rgb(23, 26, 26);
    font-weight: bolder;
    margin-top: 78px;
}
.form-group
{
    color: rgba(8, 63, 63);
}

.checkbox
{
    color: rgb(98, 0, 255);
}

.right
{
    color: rgb(255, 0, 0);
  
    float: right;
    
}